.App {
  text-align: center;
}

.mainHeading {
  background-image: linear-gradient(
    to right top,
    #a3ced3,
    #75bace,
    #47a3cc,
    #1d8bca,
    #1f70c3
  );
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0px;
}

/* body{
  background-image: url(image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
} */

.todoActionBar {
  margin: 10px;
  display: flex;
  justify-content: center;
}

.addTaskTextbox {
  width: 600px;
  height: 30px;
  text-align: center;
  border-radius: 12px;
  margin-right: 12px;
  outline: none;
}

.todoButton,
.todoAddButton {
  height: 35px;
  width: 155px;
  background-image: linear-gradient(
    to right top,
    #a3ced3,
    #75bace,
    #47a3cc,
    #1d8bca,
    #1f70c3
  );
  border: none;
  border-radius: 12px;
  color: white;
  padding: 1px;
  text-align: center;
  margin-right: 12px;
  outline: none;
}

.todoListWrapper {
  justify-content: center;
}

.todoCheckBox {
  margin: 0px;
}

.itemList {
  width: 600px;
  text-align: justify;
  padding-left: 5px;
}

.icon {
  margin-left: 10px;
}

.todoItemContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: none;
  margin: auto;
  width: 70%;
  padding: 3px;
}

.todoDescription {
  width: 70%;
  overflow-wrap: break-word;
  padding-right: 10px;
  padding-left: 10px;
}

.todoItemTemplate {
  visibility: hidden;
}

.strikeThrough {
  text-decoration: line-through;
}

.selectDeselectAllContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 33px;
}

.todoSelectDeslectAllCheckBox {
  margin-right: 2px;
}

.selectDeselectLabel {
  font-size: 13px;
}

[role="button"]:hover {
  cursor: pointer;
}

[role="row"]:hover {
  cursor: grab;
}

[role="row"]:active {
  cursor: grabbing;
}

.todoSelectDeslectAllCheckBox {
  margin-top: 5px;
}
